.PresentationContainer {
    margin-top: 50px;
    text-align: center;
}

.TextContainer {
    width: 75%;
    margin: auto;
    background-color: #F8F9FA;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
    padding: 20px;
}

.TextContainer span {
    text-align: justify;
}

.segmented-control {
    width: 60% !important;
    color: #0d377f;
}