.HarvestUnitContainer {
    text-align: center;
}

button {
    width: 80%;
} 

.JsonContainer {
    margin-top: 10px;
    margin-bottom: 50px;
}

.JsonBox {
    margin: auto;
    width: 80%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
    padding: 20px;
    background-color: #F8F9FA;
}

button {
    margin-top: 20px;
    width: 50%;
}

.react-json-view {
    margin: auto;
    width: 50%;
    text-align: justify;
}